
@{
    ViewBag.Title = "Gliding";
}

<div class="content shopping">
    <h1>Часто задаваемые вопросы от наших покупателей</h1>
    <p>Для Вашего удобства мы ответили на самые популярные вопросы про поставку и отлату покупок.</p>
    <h2>Доставка покупок магазина спортивного оборудования Glider</h2>
    <ul>
        <li>В какие города происходит доставка?</li>
        <p>Для комфорта наших покупателей мы доставляем покукпи во все города России почтой SDEK</p>
        <li>Сколько стоит доставка?</li>
        <p>Цена доставки зависит от региона.</p>
    </ul>
    <h2>Оплата покупок магазина спортивного оборудования Glider</h2>
    <ul>
        <li>Как происходит оплата?</li>
        <p>Есть 2 варианта оплаты:</p>
        <ol>
            <li>Оплатить на пункте выдачи.</li>
            <li>Оплатить через мобильный банк.</li>
        </ol>
        <li>Можно вернуть деньги, если товар не подошел?</li>
        <p>Конечно.</p>
    </ul>
</div>

