@using WebApplication1.Models.DBModels


@model WebApplication1.Models.DBModels.Post

@{
    ViewBag.Title = "Лента новостей";
}


<button onclick="topFunction()" id="myBtn" title="Go to top">Наверх</button>

<h1 align="center" id="main"></h1>
<p align="justify">Если Вы увлекаетесь конькобежным спортом, то Вы пришли прямо по адресу! Нас магазин специализируется на атрибутике и аксесссуарах для видов спорта, входящих в состав большлй семьи конькобежных видов спорта.</p>
<h2 align="center">О магазине Gliding</h2>
<p align="justify">На нашем сайте вы можете приобрести ботинки для фигурных и роликовых коньков, фиругные лезвия, ролики, подшипники, хоккейные коньки и экипировку от ведущих мировых фирм: PowerSlide, RollerBlade, Seba, Fila, IDEA, Jackson, Risport, Forward</p>
<h2 align="center">Новые поступления Роликовых коньков</h2>

<div class="col-lg-10 products">
    <div class="row">

        <div class="col-sm-4">
            <div class="product">
                <div class="product-img" style="display: block;  width: 210px; height: 210px; overflow:hidden;">
                    <a href="#"><img src="https://www.twizzle.ru/upload/iblock/ac8/ac8afee6e117ff9c9f2833132d37af92.jpg" alt=""></a>

                </div>
                <p class="product-title">
                    Коньки фигурные Edea ICE FLY Белые
                </p>
                <p class="product-desc">Цена 28000 </p>
                @*@Html.ActionLink("Купить", "Index", "Seller")*@

            </div>
        </div>
        <div class="col-sm-4">
            <div class="product">
                <div class="product-img" style="display: block;  width: 210px; height: 210px; overflow:hidden;">
                    <a href="#"><img src="https://www.twizzle.ru/upload/iblock/fa0/fa0212a8a39a51cd81bf3d440db70972.jpg" alt=""></a>

                </div>
                <p class="product-title">
                    Коньки фигурные Edea Chorus чёрные
                </p>
                <p class="product-desc">Цена 30000 </p>
                @*@Html.ActionLink("Купить", "Index", "Seller")*@
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product">
                <div class="product-img" style="display: block;  width: 210px; height: 210px; overflow:hidden;">
                    <a href="#"><img src="https://rollbay.ru/image/cache/catalog/img/skates/fe_drift_2-400x400.jpg" alt=""></a>

                </div>
                <p class="product-title">
                    Роликовые коньки Flying Eagle Drift 2
                </p>
                <p class="product-desc">Цена 32900 </p>
                @*@Html.ActionLink("Купить", "Index", "Seller")*@
            </div>
        </div>
        <div class="col-md-offset-4">
            <h2>         </h2>

        </div>

    </div>

    <div><h2 align="center">Дети</h2></div>
</div>



<div class="row">

    <button type="button" onclick="loadDoc()">Отобразить таблицу размеров</button>
    <div class="col-md-12">
        <table class="table">
            <tbody id="childTable">
                <tr>
                    <th>
                        Размер
                    </th>
                    <th>
                        Длинна стопы(см)
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h2 align="center">Мужчины</h2>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        Размер
                    </th>
                    <th>
                        US
                    </th>
                    <th>
                        Длинна стопы(см)
                    </th>
                </tr>
                <tr><td>36</td><td>4.5</td><td>23.5</td></tr>
                <tr><td>37</td><td>5</td><td>24</td></tr>
                <tr><td>38</td><td>6</td><td>24.5</td></tr>
                <tr><td>39</td><td>7</td><td>25.5</td></tr>
                <tr><td>40</td><td>7.5</td><td>26</td></tr>
                <tr><td>41</td><td>8</td><td>27</td></tr>
                <tr><td>42</td><td>9</td><td>27.5</td></tr>
                <tr><td>43</td><td>10</td><td>28</td></tr>
                <tr><td>44</td><td>10.5</td><td>28.5</td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2 align="center">Женщины</h2>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <tbody>
                <tr>
                    <th>
                        Размер
                    </th>
                    <th>
                        US
                    </th>
                    <th>
                        Длинна стопы(см)
                    </th>
                </tr>
                <tr><td>35</td><td>5</td><td>23</td></tr>
                <tr><td>36</td><td>6</td><td>23.5</td></tr>
                <tr><td>37</td><td>6.5</td><td>24</td></tr>
                <tr><td>38</td><td>7.5</td><td>24.5</td></tr>
                <tr><td>39</td><td>8.5</td><td>25.5</td></tr>
                <tr><td>40</td><td>9</td><td>26</td></tr>
                <tr><td>41</td><td>9.5</td><td>27</td></tr>
                <tr><td>42</td><td>10</td><td>27.5</td></tr>
                <tr><td>43</td><td>10.5</td><td>28</td></tr>
                <tr><td>44</td><td>12</td><td>28.5</td></tr>
            </tbody>
        </table>
    </div>
</div>

<script src="../Scripts/LoadDoc.js" type="text/javascript"></script>
<script src="../Scripts/top.js"></script>
<script src="../Scripts/Show.js"></script>
<script>initForEffect();</script>
<script>startKeyboardEffect();</script>